
body{
     background-color: var(--claro);
    }

.cabecalho {
     display: flex;
     justify-content: space-between;
    }

li {
     text-decoration: none;
     list-style-type: none;
    }

/*---- ABAS:-Inicio/Metas ----*/   


/*----titulo----*/
.titulo {
     color: var(--principal);
     margin: 10px 30px 10px;
    }
.tituloMain {
     color: var(--claro);
     margin: 10px 30px 10px;
}


 /* -- NOVA-META -- */


 /* -- LISTA -- */
