h1{
    color: var(--principal);
    font-size: 30px;
}

a {
    text-decoration: none;
}


/* Card Login */
.login {
    background-color: var(--branco);
    margin: 80px auto;
    border: 1px solid var(--cinza);
    border-radius: 10px;
    padding: 1.25rem;
    width: 320px;
}

@media (min-width:600px){
    .login {
        width: 450px;
    }   
}

/* Campos do formulário */

.label i {
    top: -15px;
}

/* Alinhamento dos botões de Mantenha Conectado e Esqueceu a Senha */
.caixa-esqueceu{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
    margin: 10px;
  }

/* Botões */

.caixa {
    color: var(--cinza-escuro);
    font-size: 12px;
}

.esqueceu-senha a {
    color: var(--cinza);
    font-size: 12px;
}

.esqueceu-senha a:hover {
    color: var(--principal);
}

.entrar, .cadastrar {
    width: 16rem;
    height: 3rem;
    margin: 8px;
    display: block;
    color: #535151;
}

@media (min-width:600px){
    .entrar, .cadastrar {
        width: 24rem;
    }
}

.entrar a {
    color: var(--branco);
}

.voltar{
    margin: 0px 0px 20px 15px;
}

