body {
  background-color: var(--claro);
}

h1 {
  color: var(--principal);
  font-size: 30px;
}

h2 {
}

h3 {
  text-align: center;
  padding: 10px;
}

h4 {
  margin: 0px;
  text-align: center;
  color: var(--cinza-escuro);
}

/* Card Cartões */

.cartoes {
  background-color: var(--branco);
  margin: 80px auto;
  border: 1px solid var(--cinza);
  border-radius: 10px;
  padding: 1.25rem;
  width: 340px;
}

@media (min-width: 760px) {
  .cartoes {
    width: 560px;
  }
}

/* Abas */
.abas {
  width: 100%;
  height: 100vh;
  position: relative;
}

.abas ul li {
  float: left;
}

.abas .rd_tab {
  display: none;
}

.textabas {
  font-size: 0.75rem;
  display: block;
  margin: 10px;
  padding: 1px;
  cursor: pointer;
}

.textabas:hover {
  color: var(--principal);
}

.textabas:active {
  color: var(--efeito-active);
}

/* Corpo das Abas */
.tab-content {
  border-top: solid 3px var(--principal);
  background-color: var(--branco);
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
}

.rd_tab:checked ~ .tab-content {
  display: block;
}

.tab-content section {
  padding: 5px;
  color: #555;
}

/* Cartões Salvos */
.posicaoCartao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textmenu,
.fa-chevron-right {
  color: var(--cinza);
  font-size: 1rem;
  margin: 1px;
  cursor: pointer;
  color: #535151;
}

.textmenu:hover {
  color: var(--principal);
}

.nubank, 
.inter,
.digio,
.neon {
  border: 1px solid var(--principal);
  border-radius: 7px;
}

.nubank:hover {
  border: 1px solid blueviolet;
}

.inter:hover {
  border: 1px solid orangered;
}

.digio:hover {
  border: 1px solid navy;
}
.neon:hover {
  border: 1px solid cyan;
}

.data {
  text-align: justify;
  color: var(--cinza-escuro);
  text-align: center;
  margin: 5px;
  font: bolder 0.67em;
}

/* Cadastrar Cartão */

/* Extrato */
.visualizarExtrato {
  display: block;
  margin: 10px auto;
  width: 300px;
  border: 1px inset var(--principal);
  border-radius: 7px;
  padding: 10px;
}

.tipoCartao {
  width: 120px;
  height: 30px;
  margin: 0px;
}

.nome,
.limite,
.vencimento,
.despesa,
.valor,
.observacao {
  display: block;
  width: 100%;
  height: 50px;
  margin: 10px 0px;
}

@media (min-width: 760px) {
  .form-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .form-flex label{
    margin: 10px;
  }

  .vencimento,
  .valor {
    width: 160px;
  }

  .nome{
    width: 300px;
  }
  
  .despesa {
    width: 250px;
    height: 50px;
  }

  .observacao {
    height: 150px;
    width: 430px;
    margin: 20px 0px;
  }
}

/* Botões */
.cartao {
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  margin: auto;
}

.salvar,
.maisdespesa {
  padding: 5px;
  float: right;
}

/*----CARTÃO-INFORMATIVO----*/

/*.cartoes {
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  cursor: pointer;
}


Data do cartão
.cartoes h6 {
  text-align: justify;
  color: var(--cinza-escuro);
  text-align: center;
  margin: 5px;
}*/

/* Input verde
.cartoes input {
  background-color: #c4f8dd;
  display: none;
  margin: 5px;
  width: 5.5rem;
  height: 1.5rem;
  display: block;
  font-family: var(--ff-texto);
  padding: 0.3rem;
  border-radius: 0.2rem;
  border-width: 0.013rem;
  border-style: none;
}*/
