h1 {
  color: var(--principal);
  font-size: 30px;
  margin: 10px 50px;
}

#usuario{
  font: normal 15px var(--ff-texto);
}

/* Card Perfil */
.perfil {
  background-color: var(--branco);
  margin: 50px auto;
  border: 1px solid var(--cinza);
  border-radius: 10px;
  padding: 1.25rem;
  width: 340px;
}

.textmenu,
.fa-chevron-right {
  color: var(--cinza);
  font-size: 1rem;
  margin: 1px;
  cursor: pointer;
  color: var(--cinza-escuro);
}

.form {
  margin: 4px;
}

.email,
.renda,
.nome,
.sobrenome,
.telefone,
.endereco,
.numero,
.cidade,
.estado,
.cep {
  width: 290px;
}

.label input[type="text"] {
  padding: 10px;
}

@media (min-width: 760px) {
  .perfil {
    width: 560px;
  }

  .email,
  .cidade {
    width: 500px;
  }

  .form-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .nome,
  .telefone,
  .cep {
    width: 201px;
  }

  .endereco {
    width: 390px;
  }

  .numero {
    width: 100px;
  }
}

@media (min-width: 1000px) {
  .perfil {
    width: 660px;
  }

  .form-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .email {
    width: 600px;
  }

  .nome,
  .telefone {
    width: 301px;
  }

  .endereco {
    width: 490px;
  }

  .cidade,
  .estado,
  .cep {
    width: 194px;
  }
}
.voltar {
  margin: 0px 20px 15px;
}
.erro {
  color: red;
}
