h1{
    color: var(--principal);
    font-size: 30px;
}

a {
    text-decoration: none;
}


/* Card Login */
.login {
    background-color: #ffffff;
    margin: 80px auto;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 1.25rem;
    width: 320px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width:600px){
    .login {
        width: 450px;
    }   
}

/* Campos do formulário */

.label {
    position: relative;
}

.label i {
    position: absolute;
    left: 2px;
    top: -15px;
    padding: 20px;
    color: #bbb;
}

.label input[type=text] {
    padding-left: 40px;
}

.label input[type=password] {
    padding-left: 40px;
}

/* Botões */

.esqueceu-senha {
    color: var(--cinza);
    display: block;
    font-size: 0.75rem;
    margin: 1px 0px 5px 155px;
}

.esqueceu-senha:hover {
    color: var(--principal);
}

@media (min-width:600px){
    .esqueceu-senha {
        margin: 1px 0px 5px 65%;
    }
}

.entrar, .cadastrar {
    width: 16rem;
    height: 3rem;
    margin: 8px;
    display: block;
}

@media (min-width:600px){
    .entrar, .cadastrar {
        width: 24rem;
    }
}

.entrar a {
    color: white;
}

.voltar{
    margin: 0px 0px 20px 15px;
}

