h1 {
    font-size: 40px;
}

h2 {
    font-size: 17px;
}

a {
    color: var(--fundo);
}

a:hover {
    color: var(--branco);
}


section {
    width: 100%;
    height: 100vh;
    padding: 5%;
    color: var(--branco);
}

.sessao-hr {
    display: none;
}

@media (min-width: 600px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 20px;
    }
    .sessao-hr {
        display: block;
        width: 67px;
        height: 6px;
        border-style: none;
        border-radius: 10px;
        background-color: var(--principal);
    }
}


/* Cabeçalho */

.cabecalho {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.cadastre,
.acesse {
    display: none;
}

@media (min-width: 1000px) {
    .login {
        display: none;
    }   
    .cadastre,
    .acesse {
        display: inline;
        margin: 10px 5px;
    }
}


/* Seção inicial */

main {
    background-image: url('/imagens/fundo-pag-inicial-2.png');
    height: 100%;
}

.texto-inicial {
    color: var(--claro);
    text-align: center;
    position: absolute;
    top: 80%;
    right: 15%;
    left: 15%;
}


/* Seção Quem Somos */

.quem-somos {
    background: var(--gradiente-principal);
}

.quem-somos-imagem img {
    width: 100%;
    padding: 10%;
}

@media (min-width: 600px) {
    .quem-somos-imagem img {
        width: 80%;
    }
    .quem-somos-texto p {
        font-size: 23px;
        line-height: 35px;
    }
}

@media (min-width: 1000px) {
    .quem-somos {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .quem-somos-texto {
        width: 60%;
    }
    .quem-somos-imagem img {
        width: 100%;
    }
}


/* Seção Nosso Compromisso */

.nosso-compromisso {
    background: var(--gradiente-escuro);
}

.cartao-compromisso-imagem img {
    width: 120px;
    margin: 0 auto;
}

.cartao-compromisso {
    width: 16.25rem;
    height: 17.5rem;
    border-radius: 1.875rem;
    padding: 1.5em;
    margin: 5rem auto;
}

.cartao-compromisso-texto {
    color: var(--cinza-escuro);
    text-align: center;
}

.rendimento,
.cuidado,
.seguranca {
    display: none;
}

@media (min-width: 600px) {
    .cartao-compromisso {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 1rem;
    }
}

@media (min-width: 1000px) {
    .cartao-compromisso {
        display: inline-flex;
        flex-wrap: wrap;
        margin: 1rem 0.3rem;
    }
}


/* Seção Na Palma da sua mão */

.na-palma-da-sua-mao {
    background-color: var(--fundo-escuro);
    padding: 5%;
}

.na-palma-da-sua-mao hr {
    float: right;
}

.na-palma-da-sua-mao-imagem img {
    position: absolute;
    margin: 110% auto 0 auto;
    width: 80%;
}

.na-palma-da-sua-mao-texto {
    background-color: var(--principal);
    margin: 20% auto;
    padding: 15px;
    width: 90%;
    height: 80%;
}

.na-palma-da-sua-mao-texto h1 {
    font-size: 50px;
    text-align: end;
}

.na-palma-da-sua-mao-texto p {
    font-size: 15px;
}

.na-palma-da-sua-mao-texto img {
    width: 150px;
    display: block;
    margin: 15px auto;
}

@media (max-width:400px) {
    .na-palma-da-sua-mao-imagem img {
        margin: 140% auto 0 auto;
        width: 70%;
    }
}

@media (min-width: 600px) {
    .na-palma-da-sua-mao-imagem img {
        width: 65%;
        margin: 68% auto 0;
    }
    .botoes-app {
        margin: 10px auto;
    }
    .botoes-app img {
        width: 200px;
        display: inline-flex;
        justify-content: space-evenly;
    }
    .na-palma-da-sua-mao-texto {
        background-color: var(--principal);
        margin: 10% 10% 15% 10%;
        padding: 15px;
        width: 90%;
        height: 80%;
    }
    .na-palma-da-sua-mao-texto h1 {
        font-size: 80px;
    }
    .na-palma-da-sua-mao-texto p {
        font-size: 23px;
    }
}

@media (min-width: 1000px) {
    .na-palma-da-sua-mao {
        display: flex;
    }
    .na-palma-da-sua-mao-imagem img {
        width: 90%;
        position: absolute;
        margin: 0 auto;
    }
    .na-palma-da-sua-mao-texto {
        background-color: transparent;
        position: relative;
        margin: 0 0 0 55%;
        padding: 30px;
        width: 50%;
        height: 0;
        text-align: end;
    }
}


/* Responsividade do Texto em TVs */

@media (min-width: 1700px) {
    .na-palma-da-sua-mao-texto {
        padding: 40px;
    }
    .na-palma-da-sua-mao-texto h1 {
        font-size: 100px;
    }
    .na-palma-da-sua-mao-texto p {
        font-size: 38px;
    }
}


/* Rodapé */

.rodape {
    padding: 40px 20px 20px;
}

.rodape img {
    width: 150px;
    padding: 10px;
}

.rodape h3 {
    padding: 10px;
}

@media (min-width: 600px) {
    .rodape>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bloco-media-social {
        padding: 5px;
    }
}