body {
  background-color: var(--claro);
  margin: 0 auto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

main {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 80px auto;
}

@media (min-width: 1000px) {
  main {
    width: 58%;
  }
}

.servicos {
  padding: 0.7rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.detalhes,
.pagamentos,
.recebimentos,
.criar-planejamento,
.planejamento,
.perfil,
.configuracoes,
.ajuda,
.atendimento {
  width: 8rem;
  height: 3rem;
  margin: 4px;
}

.perfil-configuracoes,
.ajuda-atendimento {
  padding: 3rem;
}
