h1{
    color: var(--principal);
    font-size: 30px;
}

/* Card Cadastro */
.cadastro {
    background-color: var(--branco);
    margin: 80px auto;
    border: 1px solid var(--cinza);
    border-radius: 10px;
    padding: 1.25rem;
    width: 320px;
}

/* Mensagens de Validação */
#mensagemErro{
    text-align:center;
    color:#ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display:none;
  }
  
  #mensagemSucesso{
    text-align:center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display:none;
  }

  
/* Responsividade */

@media (min-width:600px){
    .cadastro {
        width: 450px;
    }   
}

.label i {
    top: -20px;
}

.entrar, .cadastrar {
    width: 16rem;
    height: 3rem;
    margin: 8px;
    display: block;
    color: #535151;
}

@media (min-width:600px){
    .entrar, .cadastrar {
        width: 24rem;
    }
}

.voltar{
    margin: 0px 0px 20px 15px;
}
.erro {
    color: red;
}

