@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
:root {
  --principal: #00a34f;
  --escuro: #336149;
  --básica: #69f0aa;
  --efeito-hover: #004a24;
  --efeito-active: #00d668;
  --erro: #ff0000;
  --fundo-erro:
  --preto: #000000;
  --cinza: #bbb;
  --cinza-escuro: #3c3c3c;
  --claro: #fafafa;
  --fundo: #dadada;
  --fundo-escuro: #2c2c2c;
  --branco: #ffffff;
  --sombra: #32323280;
  --gradiente-principal: linear-gradient(0deg, #69f0aa 0%, #013d1e 100%);
  --gradiente-escuro: linear-gradient(
    180deg,
    #69f0aa 0%,
    #000000 99.99%,
    #000000 100%
  );
  --ff-titulo: "Ubuntu", "Source Sans Pro", "Merriweather", sans-serif;
  --ff-texto: "OpenSans", "Roboto", "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: var(--ff-texto);
}

h1,
h2,
h3 {
  font-family: var(--ff-titulo);
}

a {
  color: var(--principal);
  text-decoration: none;
  cursor: pointer;
}

hr {
  color: var(--básica);
  margin: 0 auto 20px 0;
}

li {
  list-style-type: none;
}

/* Cabeçalho */

.cabecalho {
  width: 100%;
  background: url(/imagens/bg-texture.png);
  padding: 15px;
  color: var(--branco);
  -webkit-box-shadow: 1px 13px 10px -9px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 13px 10px -9px rgba(50, 50, 50, 0.5);
  box-shadow: 1px 13px 10px -9px rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: space-between;
}

.cabecalho img {
  width: 6.25rem;
}

/* Menu */

.menulateral {
  position: fixed;
  width: 300px;
  left: -300px;
  height: 100%;
  background-color: black;
  transition: all 0.5s ease;
  z-index: 999;
}

.menulateral a {
  display: block;
  height: 65px;
  width: 100%;
  color: var(--branco);
  line-height: 65px;
  padding-left: 30px;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid transparent;
  transition: all 0.5s ease;
}

.menulateral a {
  color: var(--branco);
}

.menulateral a i {
  font-size: 23px;
  margin-right: 16px;
}

.menulateral a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navlink:hover {
  color: var(--principal);
}

.navlink a:active {
  color: var(--efeito-active);
}

#check {
  display: none;
}

label #btn-menu,
label #out {
  color: var(--claro);
  transition: all 0.5s ease;
}

label #out {
  position: absolute;
  border-radius: 5px;
  background-color: black;
  margin: 15px 30px;
  cursor: pointer;
  border: 1px solid #262626;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
}

label #out {
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .menulateral {
  left: 0;
}

#check:checked ~ label #btn-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #out {
  margin-left: 310px;
  opacity: 1;
  visibility: visible;
}

.logoDesktop,
.menuDesktop,
#usuario {
  display: none;
}

@media (min-width: 760px) {
  #usuario {
    display: inline-flex;
  }

  .logoDesktop {
    width: 10rem;
  }
}

@media (min-width: 1000px) {
  .fa-bars,
  .fa-times,
  .menulateralint {
    display: none;
  }

  .logoDesktop,
  .menuDesktop {
    display: inline-flex;
    width: 100%;
  }

  .logoDesktop {
    margin: 10px 0px;

  }

  nav.menuDesktop {
    display: block;
  }

  nav.menuDesktop li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
  }

  nav.menuDesktop ul:hover {
    transition: 1s;
    color: var(--efeito-hover);
  }
}

/* Botões */

.form {
  width: 16rem;
  height: 3rem;
  margin: 10px;
  font-family: var(--ff-texto);
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border-width: 0.013rem;
  border-color: var(--efeito-active);
}

@media (min-width: 600px) {
  .form {
    width: 24rem;
    height: 3rem;
  }
}

.botao {
  padding: 0.375rem 0.75rem;
  font: 1rem 400 var(--ff-titulo);
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  cursor: pointer;
  border-style: none;
}

.botao-verde {
  background-color: var(--principal);
  color: var(--branco);
}

.botao-verde a {
  color: var(--branco);
}

.botao-verde:hover {
  background-color: var(--efeito-hover);
}

.botao-verde:active {
  background-color: var(--efeito-active);
}

.botao-contorno {
  color: var(--cinza);
  background-color: transparent;
  border: 1px solid var(--efeito-active);
}

.botao-contorno:hover {
  color: var(--branco);
  background-color: var(--efeito-active);
  border: none;
}

/* Outros botões */

.botao-quadrado {
  font-size: 0.8rem;
  width: 6rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

/* Cartões */

.cartao-branco {
  align-items: center;
  justify-content: center;
  padding: 2.2em;
}

.cartao-branco p {
  margin: 1.5rem auto;
}

.cartao-branco:hover {
  transition: 0.4s;
  -webkit-box-shadow: 0px 2px 30px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 30px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 30px 2px rgba(50, 50, 50, 0.75);
}

/* Campos de dados */

.label {
  position: relative;
}

i {
  color: var(--cinza);
}

.icone {
  left: 2px;
  position: absolute;
  padding: 18px;
}

.fa-eye-slash,
.fa-eye {
  position: absolute;
  right: 10px;
  cursor: pointer;
  padding: 18px;
}

.label input[type="text"] {
  padding-left: 40px;
}

.label input[type="password"] {
  padding-left: 40px;
}

.card {
  align-items: center;
  width: 15rem;
  margin: 3px;
  height: 12rem;
  border: 1px solid var(--cinza);
  border-radius: 10px;
}

.cartao-branco {
  background-color: var(--branco);
}

.cartao-preto {
  background-color: var(--preto);
}

/* Mensagens de Validação */

#mensagemErro {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#mensagemSucesso {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

/* FOOTER - precisa ajeitar */

.rodape {
  position: relative;
  padding: 20px;
  background-image: url(../imagens/bg-texture.png);
  color: var(--fundo);
  text-align: center;
}

.rodape img {
  width: 150px;
}

.rodape ul {
  list-style: none;
  text-align: left;
}
